.indiv-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  outline: none;
  position: absolute;
  top: 10vh;
  left: calc(50% - (70px / 2));
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  user-select: none;

  &:disabled {
    opacity: 0.5;
  }
}

@for $num from 1 through 9 {
  $c: 60;
  $y: sin(22.5deg * ($num - 1)) * $c;
  $x: sqrt(($c * $c) - ($y * $y));

  @if $num < 6 {
    .btn-#{$num} {
      transform: translate(-$x * 1vh, $y * 1vh);
    }
  } @else {
    .btn-#{$num} {
      transform: translate($x * 1vh, $y * 1vh);
    }
  }
}
