.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.top-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: calc(50% - (70px / 2));
  pointer-events: none;

  &:not(.active-note) {
    z-index: 1;
  }

  svg {
    width: 40px;
    height: 40px;
    color: $dark-gray;
  }
}

.smile {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(238, 135, 157, 1)
  );
}

.pure {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(142, 194, 37, 1)
  );
}

.cool {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(115, 201, 243, 1)
  );
}

@for $num from 1 through 9 {
  $c: 60;
  $y: sin(22.5deg * ($num - 1)) * $c;
  $x: sqrt(($c * $c) - ($y * $y));

  @if $num < 6 {
    @keyframes moving-#{$num} {
      100% {
        transform: translate(-$x * 1vh, $y * 1vh);
      }
    }
  } @else {
    @keyframes moving-#{$num} {
      100% {
        transform: translate($x * 1vh, $y * 1vh);
      }
    }
  }
}

.GameButtons {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;

  button,
  a {
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: $light-gray;
    border: none;
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 13px;
    text-align: center;
    transition: all 0.25s ease;

    svg {
      margin-right: 0px;
      color: white;
      transition: all 0.25s ease;
      vertical-align: middle;
    }

    &:hover {
      background-color: $light-gray;
    }
  }
}

.combo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 1.3rem;
  align-self: center;
  position: absolute;
  top: 30vh;
}

.lateNote {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: center;
  position: absolute;
  top: 35vh;
  color: rgb(245, 79, 79);
  transition: all 0.25s ease;
}

.otherBtn {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transition: all 0.25s ease;
  right: 0;
  width: 100%;
}

.soundtest {
  user-select: none;
  width: 50px;
  height: 50px;
  background-color: pink;
}
