.app-header {
  background-color: rgb(38, 42, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 10vh;
  color: white;

  a,
  button {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 100%;
    font-family: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    li {
      margin: 0 10px;
    }
  }
}
