.app-header {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 10px 20px;
  color: white;

  .active-link {
    border-bottom: 2px solid $shio;
  }

  a,
  button {
    text-decoration: none;
    list-style: none;
    color: white;
    outline: none;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 100%;
    font-family: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
  }
}

.on-game {
  display: none;
}

@media only screen and (max-width: 390px) {
  .app-header {
    font-size: 0.7rem;
  }
}
