.app-header {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 10vh;
  color: white;

  .active-link {
    border-bottom: 3px solid $shio;
  }

  a,
  button {
    text-decoration: none;
    list-style: none;
    color: white;
    outline: none;
  }

  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 100%;
    font-family: inherit;

    &:hover {
      cursor: pointer;
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    li {
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .app-header {
    font-size: 12px;
  }
}
