.homepage {
  background-color: $dark-gray;
  color: white;
  min-height: 90vh;
  padding: 50px 0;

  .h2p {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin-top: 50px;
    }

    img {
      border: 1px solid $shio;
      max-width: 50%;
      padding: 5px 10px;

      &:nth-child(1) {
        max-width: 65%;
      }
    }

    .game {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
        margin-top: 10px;
        width: 80%;
      }
    }

    button {
      margin-top: 50px;
      outline: none;
      border-style: none;
      background-color: inherit;
      color: white;
      border: 1px solid $shio;
      padding: 5px 10px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.logged-out {
  text-align: center;
  height: calc(90vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .h2p section {
    flex-direction: column;

    p {
      margin-top: 10px;
    }

    &:nth-child(3) {
      p {
        order: 2;
      }
      img {
        order: 1;
      }
    }
  }

  .homepage .h2p img {
    max-width: 100%;
  }
}
