.MainMenu {
  min-height: 90vh;
  overflow: auto;
  position: relative;

  h1 {
    text-align: center;
    margin-top: 5vh;
  }

  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
}

.MainMenu:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -1;
  background: url('../pictures/backgrounds/menuBG.jpg');
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}

.fullscreen {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #1bb588;
  cursor: pointer;
  background-color: #2ae6ad;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: all 0.25s ease;
  outline: none;

  &:hover {
    background-color: #1bb588;
  }

  img {
    width: 10px;
    margin-right: 5px;
    transition: all 0.25s ease;
  }
}

.speed-tip {
  font-size: 11px;
}

.auto-play-radio {
  label,
  input[type='radio'] {
    cursor: pointer;
  }

  input[type='radio'] {
    margin: 0 5px;
  }
}

input[type='range'] {
  cursor: pointer;
  margin-bottom: 5px;
}

.select-group,
.scroll-group,
.scroll-group-info {
  display: flex;
  flex-direction: column;
}

.scroll-group-info {
  font-size: 12px;
}

.song-list {
  background-color: rgba(144, 238, 144, 0.6);
  width: 100%;
  position: absolute;
  bottom: 0;

  .filter-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .groupImg {
      width: 100px;
    }

    .attrib-logo {
      width: 50px;
    }

    button {
      padding: 5px 20px;
      border-radius: 20px;
      border: 2px solid #1bb588;
      cursor: pointer;
      background-color: #2ae6ad;
      color: white;
      font-family: 'Poppins', sans-serif;
      transition: all 0.25s ease;
      outline: none;

      &:hover {
        background-color: #1bb588;
      }

      img {
        width: 10px;
        margin-right: 5px;
        transition: all 0.25s ease;
      }
    }
  }

  .song-arr {
    overflow-y: scroll;
    transition: all 0.25s ease;
  }
}
