.MainMenu {
  min-height: 90vh;
  background-color: $dark-gray;
  color: white;
  position: relative;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
}

.fullscreen {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid $shio;
  cursor: pointer;
  background-color: $light-gray;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: all 0.25s ease;
  outline: none;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #1bb588;
  }

  svg {
    transition: all 0.25s ease;
  }
}

.group,
.scroll-group-info {
  display: flex;
  flex-direction: column;
}

.group {
  width: 30%;

  label {
    margin: 2px 0;
  }
}

.half-group {
  width: 20%;
}

.indiv-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;

  .select-div {
    display: grid;
    position: relative;

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      height: 70%;
    }
  }

  select {
    background-color: $light-gray;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    appearance: none;
    padding: 2px 5px;
    border: 1px solid $shio;

    &:focus {
      outline: 1px solid $shio;
    }
  }
}

.auto-play-radio {
  display: flex;

  .radio-label {
    background-color: $light-gray;
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .radio-selected {
    background-color: $shio;
  }

  label,
  input[type='radio'] {
    cursor: pointer;
    appearance: none;
  }
}

input[type='range'] {
  cursor: pointer;
  border-radius: 8px;
  height: 5px;
}

.speed-tip {
  font-size: 10px;
}

.scroll-group-info {
  font-size: 12px;
}

.song-list {
  margin-top: 10px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .filter-logos {
    background-color: $light-gray;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .groupImg {
      width: 100px;
    }

    .attrib-logo {
      width: 50px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .fullscreen {
    span {
      display: none;
    }

    svg {
      margin: 0;
    }
  }

  form {
    flex-direction: column;
  }

  .group {
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
  }

  .indiv-select {
    padding: 5px 0;
  }
}
