$smile: rgba(238, 135, 157, 1);
$pure: rgba(142, 194, 37, 1);
$cool: rgba(115, 201, 243, 1);

.indiv-song {
  margin: 5px 0;
  color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 5fr 1fr auto;
  align-items: center;
  border-radius: 20px;

  img {
    width: 40px;
  }

  h2 {
    text-align: center;
  }

  a {
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 20px;
    border: 2px solid $shio;
    cursor: pointer;
    background-color: $dark-gray;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: all 0.25s ease;
    text-decoration: none;

    &:hover {
      background-color: $shio;
    }
  }
}

.smileBG {
  background-color: $smile;
}

.pureBG {
  background-color: $pure;
}

.coolBG {
  background-color: $cool;
}

@media only screen and (max-width: 800px) {
  .indiv-song {
    img {
      grid-area: attrib;
    }

    h2 {
      grid-area: title;
    }

    .small-info {
      grid-area: info;
      text-align: center;
    }

    a {
      grid-area: play;
      margin-left: 0px;
    }

    grid-template-areas:
      'title title title title'
      'attrib info info play';
  }
}
