.user-auth {
  background-color: $dark-gray;
  height: 90vh;
  color: white;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 40%;
    background-color: $light-gray;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      padding: 5px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: $dark-gray;
      color: #ffffff;
      border-style: none;
    }
  }

  input[type='text'],
  input[type='password'] {
    outline: none;
    margin-left: 10px;
  }
}

.error-Auth {
  color: rgb(241, 54, 54);
  font-size: 12px;
}

.user-cred {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-div {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  .user-auth {
    form {
      width: 80%;
    }

    input[type='text'] {
      width: 50%;
      margin-left: 5px;
    }

    .input-div {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .user-auth {
    form {
      width: 80%;
    }
  }
}

@media only screen and (max-height: 414px) {
  .user-auth {
    form {
      height: 60%;
    }
  }
}
