.user-auth {
  background-color: $dark-gray;
  min-height: 90vh;
  color: white;
  padding: 20px;
  display: grid;
  place-content: center;
  position: relative;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    max-width: 600px;
    min-height: 50%;
    background-color: $light-gray;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .btnContainer {
      display: flex;
      gap: 5px;
    }

    button {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      padding: 5px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: $dark-gray;
      color: #ffffff;
      border-style: none;
      border-radius: 5px;
    }
  }

  input[type="text"],
  input[type="password"] {
    outline: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
  }
}

.error-Auth {
  color: rgb(241, 54, 54);
  font-size: 12px;
  margin-top: 10px;
}

.user-cred {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
