* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.loading-div {
  position: absolute;
  background-color: rgba(29, 32, 37, 0.9);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loading-div svg {
  -webkit-animation: loading linear infinite 1.5s;
          animation: loading linear infinite 1.5s;
}

@-webkit-keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
.error-page {
  background-color: rgb(29, 32, 37);
  color: white;
  height: 90vh;
  display: flex;
}
.error-page p {
  margin: auto;
}

.app-header {
  background-color: rgb(38, 42, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 10px 20px;
  color: white;
}
.app-header .active-link {
  border-bottom: 2px solid rgb(27, 181, 136);
}
.app-header a,
.app-header button {
  text-decoration: none;
  list-style: none;
  color: white;
  outline: none;
}
.app-header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 100%;
  font-family: inherit;
}
.app-header button:hover {
  cursor: pointer;
}
.app-header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.on-game {
  display: none;
}

@media only screen and (max-width: 390px) {
  .app-header {
    font-size: 0.7rem;
  }
}
.homepage {
  background-color: rgb(29, 32, 37);
  color: white;
  min-height: 90vh;
  padding: 50px 0;
}
.homepage .h2p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.homepage .h2p section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}
.homepage .h2p img {
  border: 1px solid rgb(27, 181, 136);
  max-width: 50%;
  padding: 5px 10px;
}
.homepage .h2p img:nth-child(1) {
  max-width: 65%;
}
.homepage .h2p .game {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.homepage .h2p .game p {
  margin-top: 10px;
  width: 80%;
}
.homepage .h2p button {
  margin-top: 50px;
  outline: none;
  border-style: none;
  background-color: inherit;
  color: white;
  border: 1px solid rgb(27, 181, 136);
  padding: 5px 10px;
}
.homepage .h2p button a {
  text-decoration: none;
  color: white;
}

.logged-out {
  text-align: center;
  height: calc(90vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .h2p section {
    flex-direction: column;
  }
  .h2p section p {
    margin-top: 10px;
  }
  .h2p section:nth-child(3) p {
    order: 2;
  }
  .h2p section:nth-child(3) img {
    order: 1;
  }
  .homepage .h2p img {
    max-width: 100%;
  }
}
.user-auth {
  background-color: rgb(29, 32, 37);
  min-height: 90vh;
  color: white;
  padding: 20px;
  display: grid;
  place-content: center;
  position: relative;
}
.user-auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  max-width: 600px;
  min-height: 50%;
  background-color: rgb(38, 42, 49);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-auth form .btnContainer {
  display: flex;
  gap: 5px;
}
.user-auth form button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgb(29, 32, 37);
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
}
.user-auth input[type=text],
.user-auth input[type=password] {
  outline: none;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.error-Auth {
  color: rgb(241, 54, 54);
  font-size: 12px;
  margin-top: 10px;
}

.user-cred {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.MainMenu {
  min-height: 90vh;
  background-color: rgb(29, 32, 37);
  color: white;
  position: relative;
  padding: 10px;
}
.MainMenu h1 {
  text-align: center;
}
.MainMenu form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.fullscreen {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid rgb(27, 181, 136);
  cursor: pointer;
  background-color: rgb(38, 42, 49);
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease;
  outline: none;
  display: flex;
  align-items: center;
}
.fullscreen:hover {
  background-color: #1bb588;
}
.fullscreen svg {
  transition: all 0.25s ease;
}

.group,
.scroll-group-info {
  display: flex;
  flex-direction: column;
}

.group {
  width: 30%;
}
.group label {
  margin: 2px 0;
}

.half-group {
  width: 20%;
}

.indiv-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}
.indiv-select .select-div {
  display: grid;
  position: relative;
}
.indiv-select .select-div svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  height: 70%;
}
.indiv-select select {
  background-color: rgb(38, 42, 49);
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px 5px;
  border: 1px solid rgb(27, 181, 136);
}
.indiv-select select:focus {
  outline: 1px solid rgb(27, 181, 136);
}

.auto-play-radio {
  display: flex;
}
.auto-play-radio .radio-label {
  background-color: rgb(38, 42, 49);
  width: 100px;
  display: flex;
  justify-content: center;
}
.auto-play-radio .radio-selected {
  background-color: rgb(27, 181, 136);
}
.auto-play-radio label,
.auto-play-radio input[type=radio] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=range] {
  cursor: pointer;
  border-radius: 8px;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(38, 42, 49);
  border: 1px solid rgb(27, 181, 136);
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  background-color: rgb(27, 181, 136);
  width: 8px;
  height: 15px;
  -webkit-appearance: none;
          appearance: none;
}

.speed-tip {
  font-size: 10px;
}

.scroll-group-info {
  font-size: 12px;
}

.song-list {
  margin-top: 10px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.song-list .filter-logos {
  background-color: rgb(38, 42, 49);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.song-list .filter-logos .groupImg {
  width: 100px;
}
.song-list .filter-logos .attrib-logo {
  width: 50px;
}

.loading-bm {
  background: rgb(27, 181, 136);
  text-align: center;
  padding: 10px 0;
}
.loading-bm svg {
  -webkit-animation: loading linear infinite 1.5s;
          animation: loading linear infinite 1.5s;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 800px) {
  .fullscreen span {
    display: none;
  }
  .fullscreen svg {
    margin: 0;
  }
  form {
    flex-direction: column;
  }
  .group {
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
  }
  .indiv-select {
    padding: 5px 0;
  }
}
.indiv-song {
  margin: 5px 0;
  color: white;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 5fr 1fr auto;
  align-items: center;
  border-radius: 20px;
}
.indiv-song img {
  width: 40px;
}
.indiv-song h2 {
  text-align: center;
}
.indiv-song a {
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgb(27, 181, 136);
  cursor: pointer;
  background-color: rgb(29, 32, 37);
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.25s ease;
  text-decoration: none;
}
.indiv-song a:hover {
  background-color: rgb(27, 181, 136);
}

.smileBG {
  background-color: rgb(238, 135, 157);
}

.pureBG {
  background-color: rgb(142, 194, 37);
}

.coolBG {
  background-color: rgb(115, 201, 243);
}

@media only screen and (max-width: 800px) {
  .indiv-song {
    grid-template-areas: "title title title title" "attrib info info play";
  }
  .indiv-song img {
    grid-area: attrib;
  }
  .indiv-song h2 {
    grid-area: title;
  }
  .indiv-song .small-info {
    grid-area: info;
    text-align: center;
  }
  .indiv-song a {
    grid-area: play;
    margin-left: 0px;
  }
}
.Game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.top-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: calc(50% - 35px);
  pointer-events: none;
}
.top-btn:not(.active-note) {
  z-index: 1;
}
.top-btn svg {
  width: 40px;
  height: 40px;
  color: rgb(29, 32, 37);
}

.smile {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), rgb(238, 135, 157));
}

.pure {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), rgb(142, 194, 37));
}

.cool {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), rgb(115, 201, 243));
}

@-webkit-keyframes moving-1 {
  100% {
    transform: translate(-60vh, 0vh);
  }
}

@keyframes moving-1 {
  100% {
    transform: translate(-60vh, 0vh);
  }
}
@-webkit-keyframes moving-2 {
  100% {
    transform: translate(-55.4327719507vh, 22.9610059419vh);
  }
}
@keyframes moving-2 {
  100% {
    transform: translate(-55.4327719507vh, 22.9610059419vh);
  }
}
@-webkit-keyframes moving-3 {
  100% {
    transform: translate(-42.4264068712vh, 42.4264068712vh);
  }
}
@keyframes moving-3 {
  100% {
    transform: translate(-42.4264068712vh, 42.4264068712vh);
  }
}
@-webkit-keyframes moving-4 {
  100% {
    transform: translate(-22.9610059419vh, 55.4327719507vh);
  }
}
@keyframes moving-4 {
  100% {
    transform: translate(-22.9610059419vh, 55.4327719507vh);
  }
}
@-webkit-keyframes moving-5 {
  100% {
    transform: translate(-0.0009765631vh, 60vh);
  }
}
@keyframes moving-5 {
  100% {
    transform: translate(-0.0009765631vh, 60vh);
  }
}
@-webkit-keyframes moving-6 {
  100% {
    transform: translate(22.9610059419vh, 55.4327719507vh);
  }
}
@keyframes moving-6 {
  100% {
    transform: translate(22.9610059419vh, 55.4327719507vh);
  }
}
@-webkit-keyframes moving-7 {
  100% {
    transform: translate(42.4264068712vh, 42.4264068712vh);
  }
}
@keyframes moving-7 {
  100% {
    transform: translate(42.4264068712vh, 42.4264068712vh);
  }
}
@-webkit-keyframes moving-8 {
  100% {
    transform: translate(55.4327719507vh, 22.9610059419vh);
  }
}
@keyframes moving-8 {
  100% {
    transform: translate(55.4327719507vh, 22.9610059419vh);
  }
}
@-webkit-keyframes moving-9 {
  100% {
    transform: translate(60vh, 0.0000000006vh);
  }
}
@keyframes moving-9 {
  100% {
    transform: translate(60vh, 0.0000000006vh);
  }
}
.GameButtons {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}
.GameButtons button,
.GameButtons a {
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  background-color: rgb(38, 42, 49);
  border: none;
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 13px;
  text-align: center;
  transition: all 0.25s ease;
}
.GameButtons button svg,
.GameButtons a svg {
  margin-right: 0px;
  color: white;
  transition: all 0.25s ease;
  vertical-align: middle;
}
.GameButtons button:hover,
.GameButtons a:hover {
  background-color: rgb(38, 42, 49);
}

.combo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 1.3rem;
  align-self: center;
  position: absolute;
  top: 30vh;
}

.lateNote {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: center;
  position: absolute;
  top: 35vh;
  color: rgb(245, 79, 79);
  transition: all 0.25s ease;
}

.otherBtn {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  transition: all 0.25s ease;
  right: 0;
  width: 100%;
}

.soundtest {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 50px;
  height: 50px;
  background-color: pink;
}

.small-screen {
  background-color: rgba(29, 32, 37, 0.5);
  color: white;
  height: 100vh;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.small-screen p {
  margin: auto;
  width: 500px;
  text-align: center;
}

.indiv-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  outline: none;
  position: absolute;
  top: 10vh;
  left: calc(50% - 35px);
  font-size: 1.2rem;
  font-weight: bolder;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.indiv-button:disabled {
  opacity: 0.5;
}

.btn-1 {
  transform: translate(-60vh, 0vh);
}

.btn-2 {
  transform: translate(-55.4327719507vh, 22.9610059419vh);
}

.btn-3 {
  transform: translate(-42.4264068712vh, 42.4264068712vh);
}

.btn-4 {
  transform: translate(-22.9610059419vh, 55.4327719507vh);
}

.btn-5 {
  transform: translate(-0.0009765631vh, 60vh);
}

.btn-6 {
  transform: translate(22.9610059419vh, 55.4327719507vh);
}

.btn-7 {
  transform: translate(42.4264068712vh, 42.4264068712vh);
}

.btn-8 {
  transform: translate(55.4327719507vh, 22.9610059419vh);
}

.btn-9 {
  transform: translate(60vh, 0.0000000006vh);
}/*# sourceMappingURL=main.css.map */