* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading-div {
  position: fixed;
  background-color: rgba(29, 32, 37, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 1;
  bottom: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: white;
}

.loading-div svg {
  -webkit-animation: loading linear infinite 1.5s;
          animation: loading linear infinite 1.5s;
}

@-webkit-keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.error-page {
  background-color: #1d2025;
  color: white;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error-page p {
  margin: auto;
}

.app-header {
  background-color: #262a31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  height: 10vh;
  color: white;
}

.app-header .active-link {
  border-bottom: 2px solid #1bb588;
}

.app-header a,
.app-header button {
  text-decoration: none;
  list-style: none;
  color: white;
  outline: none;
}

.app-header button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 100%;
  font-family: inherit;
}

.app-header button:hover {
  cursor: pointer;
}

.app-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app-header nav ul li {
  margin: 0 10px;
}

@media only screen and (max-width: 350px) {
  .app-header {
    font-size: 12px;
  }
}

.homepage {
  background-color: #1d2025;
  color: white;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage p {
  margin: auto;
}

.homepage p a {
  text-decoration: none;
  color: white;
  outline: none;
  border-bottom: 2px solid #1bb588;
}

.user-auth {
  background-color: #1d2025;
  height: 90vh;
  color: white;
}

.user-auth form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: 40%;
  background-color: #262a31;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.user-auth form button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d2025;
  color: #ffffff;
  border-style: none;
}

.user-auth input[type='text'] {
  outline: none;
  margin-left: 3px;
}

.error-Auth {
  color: #f13636;
  font-size: 12px;
}

.user-cred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-cred .input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 350px) {
  .user-auth form {
    width: 80%;
  }
  .user-auth input[type='text'] {
    width: 50%;
    margin-left: 5px;
  }
  .user-auth .input-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .user-auth form {
    width: 80%;
  }
}

@media only screen and (max-height: 414px) {
  .user-auth form {
    height: 60%;
  }
}

.MainMenu {
  min-height: 90vh;
  background-color: #1d2025;
  color: white;
  position: relative;
}

.MainMenu h1 {
  text-align: center;
}

.MainMenu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.fullscreen {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #1bb588;
  cursor: pointer;
  background-color: #262a31;
  color: white;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen:hover {
  background-color: #1bb588;
}

.fullscreen svg {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.group,
.scroll-group-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group {
  width: 30%;
}

.group label {
  margin: 2px 0;
}

.half-group {
  width: 20%;
}

.indiv-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.indiv-select .select-div {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.indiv-select .select-div svg {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  height: 70%;
}

.indiv-select select {
  background-color: #262a31;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2px 5px;
  border: 1px solid #1bb588;
}

.indiv-select select:focus {
  outline: 1px solid #1bb588;
}

.auto-play-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auto-play-radio .radio-label {
  background-color: #262a31;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auto-play-radio .radio-selected {
  background-color: #1bb588;
}

.auto-play-radio label,
.auto-play-radio input[type='radio'] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='range'] {
  cursor: pointer;
  border-radius: 8px;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #262a31;
  border: 1px solid #1bb588;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  background-color: #1bb588;
  width: 8px;
  height: 15px;
  -webkit-appearance: none;
          appearance: none;
}

.speed-tip {
  font-size: 10px;
}

.scroll-group-info {
  font-size: 12px;
}

.song-list {
  margin-top: 10px;
  width: 70%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.song-list .filter-logos {
  background-color: #262a31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.song-list .filter-logos .groupImg {
  width: 100px;
}

.song-list .filter-logos .attrib-logo {
  width: 50px;
}

@media only screen and (max-width: 800px) {
  .fullscreen span {
    display: none;
  }
  .fullscreen svg {
    margin: 0;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group {
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
  }
  .indiv-select {
    padding: 5px 0;
  }
}

.indiv-song {
  margin: 5px 0;
  color: white;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 5fr 1fr auto;
      grid-template-columns: auto 5fr 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.indiv-song img {
  width: 40px;
}

.indiv-song h2 {
  text-align: center;
}

.indiv-song a {
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid #1bb588;
  cursor: pointer;
  background-color: #1d2025;
  color: white;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none;
}

.indiv-song a:hover {
  background-color: #1bb588;
}

.smileBG {
  background-color: #ee879d;
}

.pureBG {
  background-color: #8ec225;
}

.coolBG {
  background-color: #73c9f3;
}

@media only screen and (max-width: 800px) {
  .indiv-song {
        grid-template-areas: 'title title title title' 'attrib info info play';
  }
  .indiv-song img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: attrib;
  }
  .indiv-song h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: title;
  }
  .indiv-song .small-info {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: info;
    text-align: center;
  }
  .indiv-song a {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: play;
    margin-left: 0px;
  }
}

.Game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10vh;
  left: calc(50% - (70px / 2));
  z-index: 1;
  pointer-events: none;
}

.top-btn svg {
  width: 40px;
  height: 40px;
  color: #1d2025;
}

.smile {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), #ee879d);
}

.pure {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), #8ec225);
}

.cool {
  background-image: radial-gradient(rgba(255, 255, 255, 0.9), #73c9f3);
}

@-webkit-keyframes moving-1 {
  100% {
    -webkit-transform: translate(-60vh, 0vh);
            transform: translate(-60vh, 0vh);
  }
}

@keyframes moving-1 {
  100% {
    -webkit-transform: translate(-60vh, 0vh);
            transform: translate(-60vh, 0vh);
  }
}

@-webkit-keyframes moving-2 {
  100% {
    -webkit-transform: translate(-55.43277vh, 22.96101vh);
            transform: translate(-55.43277vh, 22.96101vh);
  }
}

@keyframes moving-2 {
  100% {
    -webkit-transform: translate(-55.43277vh, 22.96101vh);
            transform: translate(-55.43277vh, 22.96101vh);
  }
}

@-webkit-keyframes moving-3 {
  100% {
    -webkit-transform: translate(-42.42641vh, 42.42641vh);
            transform: translate(-42.42641vh, 42.42641vh);
  }
}

@keyframes moving-3 {
  100% {
    -webkit-transform: translate(-42.42641vh, 42.42641vh);
            transform: translate(-42.42641vh, 42.42641vh);
  }
}

@-webkit-keyframes moving-4 {
  100% {
    -webkit-transform: translate(-22.96101vh, 55.43277vh);
            transform: translate(-22.96101vh, 55.43277vh);
  }
}

@keyframes moving-4 {
  100% {
    -webkit-transform: translate(-22.96101vh, 55.43277vh);
            transform: translate(-22.96101vh, 55.43277vh);
  }
}

@-webkit-keyframes moving-5 {
  100% {
    -webkit-transform: translate(-0.00098vh, 60vh);
            transform: translate(-0.00098vh, 60vh);
  }
}

@keyframes moving-5 {
  100% {
    -webkit-transform: translate(-0.00098vh, 60vh);
            transform: translate(-0.00098vh, 60vh);
  }
}

@-webkit-keyframes moving-6 {
  100% {
    -webkit-transform: translate(22.96101vh, 55.43277vh);
            transform: translate(22.96101vh, 55.43277vh);
  }
}

@keyframes moving-6 {
  100% {
    -webkit-transform: translate(22.96101vh, 55.43277vh);
            transform: translate(22.96101vh, 55.43277vh);
  }
}

@-webkit-keyframes moving-7 {
  100% {
    -webkit-transform: translate(42.42641vh, 42.42641vh);
            transform: translate(42.42641vh, 42.42641vh);
  }
}

@keyframes moving-7 {
  100% {
    -webkit-transform: translate(42.42641vh, 42.42641vh);
            transform: translate(42.42641vh, 42.42641vh);
  }
}

@-webkit-keyframes moving-8 {
  100% {
    -webkit-transform: translate(55.43277vh, 22.96101vh);
            transform: translate(55.43277vh, 22.96101vh);
  }
}

@keyframes moving-8 {
  100% {
    -webkit-transform: translate(55.43277vh, 22.96101vh);
            transform: translate(55.43277vh, 22.96101vh);
  }
}

@-webkit-keyframes moving-9 {
  100% {
    -webkit-transform: translate(60vh, 0vh);
            transform: translate(60vh, 0vh);
  }
}

@keyframes moving-9 {
  100% {
    -webkit-transform: translate(60vh, 0vh);
            transform: translate(60vh, 0vh);
  }
}

.GameButtons {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.GameButtons button,
.GameButtons a {
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  background-color: #262a31;
  border: none;
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 13px;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.GameButtons button svg,
.GameButtons a svg {
  margin-right: 0px;
  color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  vertical-align: middle;
}

.GameButtons button:hover,
.GameButtons a:hover {
  background-color: #262a31;
}

.combo {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: 30vh;
}

.lateNote {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: 35vh;
  color: #f54f4f;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.otherBtn {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  right: 0;
  width: 100%;
}

.indiv-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid black;
  outline: none;
  position: absolute;
  top: 10vh;
  left: calc(50% - (70px / 2));
}

.btn-1 {
  -webkit-transform: translate(-60vh, 0vh);
          transform: translate(-60vh, 0vh);
}

.btn-2 {
  -webkit-transform: translate(-55.43277vh, 22.96101vh);
          transform: translate(-55.43277vh, 22.96101vh);
}

.btn-3 {
  -webkit-transform: translate(-42.42641vh, 42.42641vh);
          transform: translate(-42.42641vh, 42.42641vh);
}

.btn-4 {
  -webkit-transform: translate(-22.96101vh, 55.43277vh);
          transform: translate(-22.96101vh, 55.43277vh);
}

.btn-5 {
  -webkit-transform: translate(-0.00098vh, 60vh);
          transform: translate(-0.00098vh, 60vh);
}

.btn-6 {
  -webkit-transform: translate(22.96101vh, 55.43277vh);
          transform: translate(22.96101vh, 55.43277vh);
}

.btn-7 {
  -webkit-transform: translate(42.42641vh, 42.42641vh);
          transform: translate(42.42641vh, 42.42641vh);
}

.btn-8 {
  -webkit-transform: translate(55.43277vh, 22.96101vh);
          transform: translate(55.43277vh, 22.96101vh);
}

.btn-9 {
  -webkit-transform: translate(60vh, 0vh);
          transform: translate(60vh, 0vh);
}
/*# sourceMappingURL=main.css.map */