@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

$light-gray: rgb(38, 42, 49);
$dark-gray: rgb(29, 32, 37);
$shio: rgb(27, 181, 136);

@import 'Loading';
@import 'ErrorPage';
@import 'Header';
@import 'Homepage';
@import 'UserAuth';
@import 'MainMenu';
@import 'Song';
@import 'Game';
@import 'SmallScreen';
@import 'Buttons';
