* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen,
.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: gray;
  position: relative;
  transition: all 0.2s ease;
}

.top-btn {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #1ab486;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  z-index: 1;
  pointer-events: none;
}

@keyframes moving-1 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 1 + ((1 - 1) * 95px)));
  }
}

@keyframes moving-2 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 2 + ((2 - 1) * 95px)));
  }
}

@keyframes moving-3 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 3 + ((3 - 1) * 95px)));
  }
}

@keyframes moving-4 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 4 + ((4 - 1) * 95px)));
  }
}

@keyframes moving-5 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
}

@keyframes moving-6 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 6 + ((6 - 1) * 95px)));
  }
}

@keyframes moving-7 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 7 + ((7 - 1) * 95px)));
  }
}

@keyframes moving-8 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 8 + ((8 - 1) * 95px)));
  }
}

@keyframes moving-9 {
  0% {
    top: 10vh;
    left: calc((((100% - (9 * 95px)) / 10) * 5 + ((5 - 1) * 95px)));
  }
  100% {
    top: 80vh;
    left: calc((((100% - (9 * 95px)) / 10) * 9 + ((9 - 1) * 95px)));
  }
}

.Buttons {
  background-color: rgba(26, 180, 134, 0.5);
  position: absolute;
  width: 100%;
  top: 80vh;
  display: flex;
  justify-content: space-evenly;
}

.indiv-button {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.play,
audio,
p {
  align-self: flex-start;
}

.testers {
  position: absolute;
  top: 95px;
  left: 10px;
}

.testers2 {
  position: absolute;
  top: 20px;
  left: 10px;
}

.combo {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.3rem;
  align-self: center;
  position: absolute;
  top: 30vh;
}

.lateNote {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  align-self: center;
  position: absolute;
  top: 35vh;
  color: rgb(245, 79, 79);
  transition: all 0.25s ease;
}
