* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: gray;
  position: relative;
}

.top-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #1ab486;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  animation: moving-9 1s linear;
}
/* 
.btn-1 {
  position: relative;
  bottom: 40vh;
}

.btn-2 {
  position: relative;
  bottom: 30vh;
}

.btn-3 {
  position: relative;
  bottom: 20vh;
}

.btn-4 {
  position: relative;
  bottom: 10vh;
}

.btn-5 {
  animation: moving-5 0.7s linear;
}

.btn-6 {
  position: relative;
  bottom: 10vh;
}

.btn-7 {
  position: relative;
  bottom: 20vh;
}

.btn-8 {
  position: relative;
  bottom: 30vh;
}

.btn-9 {
  position: relative;
  bottom: 40vh;
} */

@keyframes moving-1 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 1 + ((1 - 1) * 50px)));
  }
}

@keyframes moving-2 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 2 + ((2 - 1) * 50px)));
  }
}

@keyframes moving-3 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 3 + ((3 - 1) * 50px)));
  }
}

@keyframes moving-4 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 4 + ((4 - 1) * 50px)));
  }
}

@keyframes moving-5 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
}

@keyframes moving-6 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 6 + ((6 - 1) * 50px)));
  }
}

@keyframes moving-7 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 7 + ((7 - 1) * 50px)));
  }
}

@keyframes moving-8 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 8 + ((8 - 1) * 50px)));
  }
}

@keyframes moving-9 {
  0% {
    top: 10vh;
    right: calc((((100% - (9 * 50px)) / 10) * 5 + ((5 - 1) * 50px)));
  }
  100% {
    top: 80vh;
    right: calc((((100% - (9 * 50px)) / 10) * 9 + ((9 - 1) * 50px)));
  }
}

.Buttons {
  background-color: rgba(26, 180, 134, 0.5);
  position: absolute;
  width: 100%;
  top: 80vh;
  display: flex;
  justify-content: space-evenly;
}

.indiv-button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.play,
audio,
p {
  align-self: flex-start;
}
